.back-pc {
    width: 100%;
    min-height: 100%;
    background: url('../assets/imgs/ditu.png') no-repeat;
    background-size: 100% 100%;
}
.bottom-fixed {
    position: fixed;
    bottom: 0;
    height: 70vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
.v-enter-active,.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.my-table{
  overflow-y: auto;height: 60vh;
}